<!DOCTYPE html>
<html>

  <head>
    {{> partials/_header.html title="PainterDudes | About Us" }}
  </head>

  <body class="body">

    {{> partials/_navbar.html active='about-us' }}
    {{> partials/_jumbotron.html page-title='About Us'}}

    <div class="container about-us-body">
      <div class="row">
        <div class="flex-wrapper">
          <div class="left">
            <img class="img-thumbnail center-block" src="img/painter_at_work2.png" alt="Painters working" />
          </div>
          <div class="right">
            <h2>Who we are</h2>
            <p>
              PainterDudes is an established <em>Professional Painting</em> business
              with over 15 years of unmatched expertise. Customer
              preference and priorities are always first. Our work
              is timely and attention to detail is never lost.
            </p>
            <p>
              PainterDudes has built a reputation for quality work
              with each satisfied customer. Our sense of pride is
              apparent in every restoration we complete. Contact
              PainterDudes today and we will be with you every
              step of the way!
            </p>
            <p>
              Find us at these social destinations!
            </p>
            <div class="social-icons">
              {{> partials/_social-icons.html}}
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3">
          <h2>Our Goal</h2>
          <p>
            Every time we are finishing up a project, we will walk
            through and inspect our work to make certain that
            everything is clean, tidy, and that you are pleased with
            the work we have done. Our ultimate goal is to exceed
            your expectations every step of the way.
          </p>
        </div>
        <div class="col-md-3">
          <h2>Painters</h2>
          <p>
            Our craftsmen are trained to produce prompt, quality
            work. Knowing the right brushes and paints for a surface
            or the right techniques for refinishing your cabinets
            does make a world of a difference.
          </p>
        </div>
        <div class="col-md-3">
          <h2>Reputation</h2>
          <p>
            All of our painters are directly employed by the
            company. We do not sub-contract any of our work. This
            ensures that all jobs are warrantied and insured through
            the company and not a third party. Our high-quality work
            originates from our own training, experience, and drive
            for excellence.
          </p>
        </div>
        <div class="col-md-3">
          <h2>Innovation</h2>
          <p>
            We have worked and brainstormed with numerous customers
            on a wide variety of projects and can proudly say that
            we have the creativity and innovation to solve the
            question of how to brighten up your home or office space
            from performing simple color changes to full repaints.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <blockquote class="text-center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <br>
            <em>We had Darren paint a room for us with a dry erase
              border around the entire room. The lines we perfect, he
              was very neat, and professional. The room looks better
              then I had imagined. I would highly recommend this
              company.</em>
            <footer>
              Cathy C. <a href="#">HomeAdvisor</a>
            </footer>
          </blockquote>
        </div>
        <div class="col-md-6">
          <blockquote class="text-center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <br>
            <em>Highly recommend!!! The painting and carpentry work
              done in our dining room looks spectacular! We opted for
              the batten boarding wainscoting design and we were blown
              away with how well it turned out. Completely transformed
              the room. Thanks again All American you guys do great
              work!!</em>
            <br>
            <footer>
              Lara A. <a href="#">Google Review</a>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>

    {{> partials/_footer.html }}
  </body>
</html>
