<!DOCTYPE html>
<html>
    <head>
        {{> partials/_header.html title="Painter Bros | Franchising Investment" }}
    </head>
    <body>
        {{> partials/_navbar.html active='investment' }}
        {{> partials/_jumbotron.html page-title='Franchising Invesment'}}

        <div class="container franchising-body">
            <div class="row franchising-subpage-row">
                <div class="col-md-7">
                    <p>
                        Your investment is based on the amount of territory you wish to operate in. Your current business situation dictates your start up cost.
                        Minimum franchise start up fee will be $25,000 with a total start up investment ranging from $35,000-$70,000. The start up costs will
                        vary from person to person.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/img/interior-yellow.jpg" alt="Interior Paint">
                </div>
            </div>

            {{> partials/_franchising-disclaimer.html }}

        </div>

        {{> partials/_footer.html }}

    </body>
</html>
