<!DOCTYPE html>
<html>
    <head>
        {{> partials/_header.html title="PainterDudes | Franchising How To" }}
    </head>
    <body>
        {{> partials/_navbar.html active='howtoapply' }}
        {{> partials/_jumbotron.html page-title='How to Franchise'}}

        <div class="container franchising-body">
            <div class="row franchising-subpage-row">
                <div class="col-md-5">
                    <img src="/img/painter_at_work2.png" alt="Painter at work">
                </div>
                <div class="col-md-7">
                    <h2>Steps to Franchise</h2>
                    <ul>
                        <li>Talk to a franchise expert</li>
                        <li>Meet at the headquarters in Salt Lake City, Utah</li>
                        <li>Decide if PainterDudes is the right franchise for you</li>
                        <li>Find a territory that's right for you</li>
                        <li>Start your business!</li>
                    </ul>
                    <a href="franchising.why.html"><h3>Why PainterDudes?</h3></a>
                </div>
            </div>

            {{> partials/_franchising-disclaimer.html }}

        </div>

        {{> partials/_footer.html }}

    </body>
</html>
