<!DOCTYPE html>
<html>
    <head>
        {{> partials/header.html title="Painter Bros | Franchising" }}
    </head>
    <body>
        {{> partials/navbar.html active='franchising' }}
        {{> partials/jumbotron.html page-title="Franchising"}}

        <div class="container main-information">
            <div class="row">
                <div class="col-md-5">
                    <img src="/img/business-deal1-md.jpg" alt="Business Deal">
                </div>
                <div class="col-md-7">
                    <h2>Why Franchise?</h2>
                    <ul>
                        <li>Amazing systems of sales and production</liv>
                        <li>Industry leading marketing strategy </li>
                        <li>Software built for on the job estimates</li>
                        <li>Easily attained web presence that will set you far above the competition</li>
                    </ul>
                    <h2>How Much will it Cost?</h2>
                    <p>See the <a href="franchising.investment.html">investment page</a> for more information.</p>
                </div>
            </div>
        </div>
        <div class="container disclaimer-container">
            <h2 class="section-title">Franchise Offering Disclaimer</h2>
            <div class="row">
                <p>
                    The information on this website is not intended as an offer to sell, or a solicitation of an offer to buy a Painter Bros™
                    franchise and should be gathered for informational purposes only. Any offer of a Painter Bros™ franchise is made by means
                    of our Franchise Disclosure Document only. Painter Bros™ franchises are available to qualified prospective franchisees only
                    in certain states. At this time, we are not registered to make offers or sales in the following states: California, Florida,
                    Hawaii, Illinois, Indiana, Kentucky, Maryland, Michigan, Minnesota, Nebraska, New York, North Dakota, South Dakota, Rhode Island,
                    Texas, Utah, Virginia, Washington, and Wisconsin. Additionally, some states may require a licensed contractor to perform certain
                    services, such as painting. Please check your local area for specific requirements.
                </p>
            </div>
        </div>

        {{> partials/footer.html }}
    </body>
</html>
