<!DOCTYPE html>
<html>
    <head>
        {{> partials/header.html title="Painter Bros | Why Franchise?" }}
    </head>
    <body>
        {{> partials/navbar.html active='why' }}
        {{> partials/jumbotron.html page-title='Why Franchise?'}}

        <div class="container franchising-body">
            <div class="row franchising-subpage-row">
                <div class="col-md-5">
                    <img src="/img/living-room-colors.jpg" alt="Living Room">
                </div>
                <div class="col-md-7">
                    <p>
                        Painter bros is an elite team of entrepreneurs dedicated to the perfection of a money making system based around the home service of painting.
                        We have made it our goal to separate ourselves from the competition through a variety of different means.
                    </p>
                    <p>
                        One of our tools that is heavily utilized and very profitable is our custom in house estimating software. This will allow all franchisees to
                        produce an on site estimate for their customers.  We will train and coach you on how to best utilize this tool for the most profitable experience.
                    </p>
                </div>
            </div>
            <div class="row franchising-subpage-row">
                <div class="col-md-7">
                    <p>
                        Our in house call center is a must when staying on top of incoming leads and directing estimates for our franchisees. Our call center takes care
                        of all incoming calls and scheduling of these appointments with franchisees. Some of these leads that we receive take the utmost persistence when
                        trying to connect with the customer. Answering calls is something that we don’t want our franchisees to have to worry about at all. We want our
                        franchisees to solely focus on growing their companies.
                    </p>
                    <p>
                        Also, our in house marketing system has been making leaps and bounds in providing leads for our franchisees. Our concepts and strategies have made
                        our marketing very cost effective, and profitable. From social media marketing to maintaining a high profile on major search engines, our marketing
                        team will make sure you are at the top of the list.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/img/employee-cabinet.jpg" alt="Employee painting">
                </div>
            </div>
            <div class="row franchising-subpage-row">
                <div class="col-md-12">
                    <p>
                        Our systems are a huge part of our franchise. They have been proven over and over again to have a very high success rate with customers and painters
                        as well as maintaining high profit margins. We will coach you in the production and estimating systems to ensure high profit in your business. How
                        closely you follow these systems, and how hard you work will directly impact your profit.
                    </p>
                    <p>
                        Now is the time to act. Painter Bros is a new franchise name in the industry and will grow fast. Meaning that there are lots of open territories to
                        start your company up. Lots of other bigger franchises have very limited availability as far as locations go and higher prices. For the first year
                        selling these franchises you will not only have an amazing price, but will have first dibs on a territory of your choice.
                    </p>
                </div>
            </div>

            {{> partials/franchising-disclaimer.html }}

        </div>

        {{> partials/footer.html }}

    </body>
</html>
