<!DOCTYPE html>
<html>
    <head>
        {{> partials/header.html title="Painter Bros | Locations" }}
    </head>

    <body class="body">
        {{> partials/navbar.html active='locations' }}
        <div class="locations-header"><h1>Locations</h1></div>

        <div class="container locations-body">
            <h2 class="text-center">Utah County and Park City Offices</h2>
            <div class="flex-wrapper">
                <div class="manager-image">
                    <img class="media-object img-thumbnail" alt="Zach Tanner manager" src="img/zach_tanner.jpg" />
                </div>
                <div class="manager-description">
                    <h4>Manager: Zach Tanner</h4>
                    <address>
                        <abbr title="Phone">P:</abbr> <a href="tel:801-995-2513">(801) 995-2513</a>
                    </address>
                    <p>
                        Growing up with a rich history in the industry has definitely helped advance our company and make them one of the top
                        companies in the state. Having a family full of Painters/Contractors has been a huge help to me. I have been involved
                        in the construction industry for 5 years now, and have specialized in painting and finished carpentry for the majority
                        of that time. Having been born here in Utah gives me lots of connections, and pushes to maintain a 5 star reputation.
                        I have professionally painted in over 5 states, and have left every customer just as happy as the last.
                        We look forward to working with you on your next project!
                    </p>
                </div>
            </div>

            <div class="flex-wrapper">
                <div class="location-box">
                    <h3>Orem, UT <small>Utah County</small></h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d780403.6781937835!2d-112.09759730064025!3d40.176756255887675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d961b01922fd5%3A0xfbd27ed382db18cf!2sUtah+County%2C+UT!5e0!3m2!1sen!2sus!4v1460048516218" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="location-box">
                    <h3 class="location-title">Park City, UT</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48434.691752952!2d-111.53498082129089!3d40.648221783138084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87520f632c6303fd%3A0xd871c4df25375794!2sPark+City%2C+UT!5e0!3m2!1sen!2sus!4v1479261167056" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <h2 class="text-center">Salt Lake County Office</h2>
            <div class="flex-wrapper">
                <div class="manager-image">
                    <img class="media-object img-thumbnail" alt="Matt Reynolds manager" src="img/matt-reynolds.jpg" />
                </div>
                <div class="manager-description">
                    <h4>Manager: Matt Reynolds</h4>
                    <address>
                        <abbr title="Phone">P:</abbr> <a href="tel:801-845-6262">(801) 845-6262</a>
                    </address>
                    <p>
                        I have owned and operated a painting company in Colorado for the past 8 years specializing in custom paint jobs.
                        Prior to that I attended Colorado state university for my bachelors in science and in mechanical engineering. 
                        Being a part of a great company and making customers happy is something I enjoy.
                    </p>
                </div>
            </div>

            <div class="flex-wrapper">
                <div class="location-box">
                    <h3>Salt Lake City, UT <small>Salt Lake County</small></h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387364.1413545868!2d-112.17065404893702!3d40.66774727206724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875273445a87abf1%3A0x712fdf8a99003bf4!2sSalt+Lake+County%2C+UT!5e0!3m2!1sen!2sus!4v1460048402874" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <h2 class="text-center">Nevada Office</h2>
            <div class="flex-wrapper">
                <div class="manager-image">
                    <img class="media-object img-thumbnail" alt="Las Vegas manager" src="img/general-manager-las-vegas.JPG" />
                </div>
                <div class="manager-description">
                    <h4>Manager: Kayden Porter</h4>
                    <address>
                        <abbr title="Phone">P:</abbr> <a href="tel:801-995-8535">(801) 995-8535</a>
                    </address>
                    <p>
                        I've been involved in the construction industry for 5 years now and have worked with many painting companies. Prior to
                        becoming a part of Painter Bros I was operating as an independent contractor in the state of Nevada. I take great pride
                        in our work and make sure every customer is just as satisfied as the last. Joining Painter Bros has been an awesome
                        opportunity, and I have enjoyed every minute of it!
                    </p>
                </div>
            </div>

            <div class="flex-wrapper">
                <div class="location-box">
                    <h3>Las Vegas, NV <small>Clark County</small></h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206247.94830888888!2d-115.28477183200978!3d36.12701240271841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c45e5468d0ed%3A0xf98463eab8414b62!2sLas+Vegas%2C+NV!5e0!3m2!1sen!2sus!4v1479317349196" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        {{> partials/footer.html }}
    </body>
</html>
