<!DOCTYPE html>
<html>
  <head>
    {{> partials/_header.html title="PainterDudes | Locations" }}
  </head>

  <body class="body">
    {{> partials/_navbar.html active='locations' }}
    <div class="locations-header"><h1>Locations</h1></div>

    <div class="container locations-body">
      <h2 class="text-center">Utah County Offices</h2>
      <div class="flex-wrapper">
        <div class="manager-image">
          <img class="media-object img-thumbnail" alt="Zach Tanner manager" src="img/zach_tanner.jpg" />
        </div>
        <div class="manager-description">
          <h4>Manager: Bob Smith</h4>
          <address>
            <abbr title="Phone">P:</abbr> <a href="tel:{{phone}}">{{prettyPhone}}</a>
          </address>
          <p>
            Growing up with a rich history in the industry has
            definitely helped advance our company and make them one
            of the top companies in the state. Having a family full
            of Painters/Contractors has been a huge help to me. I
            have been involved in the construction industry for 5
            years now, and have specialized in painting and finished
            carpentry for the majority of that time. Having been
            born here in Utah gives me lots of connections, and
            pushes to maintain a 5 star reputation. I have
            professionally painted in over 5 states, and have left
            every customer just as happy as the last. We look
            forward to working with you on your next project!
          </p>
        </div>
      </div>

      <div class="flex-wrapper">
        <div class="location-box">
          <h3>Orem, UT <small>Utah County</small></h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d780403.6781937835!2d-112.09759730064025!3d40.176756255887675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d961b01922fd5%3A0xfbd27ed382db18cf!2sUtah+County%2C+UT!5e0!3m2!1sen!2sus!4v1460048516218" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    {{> partials/_footer.html }}
  </body>
</html>
