<!DOCTYPE html>
<html>
    <head>
        {{> partials/_header.html title="PainterDudes | Residential Painting" }}
    </head>
    <body>
        {{> partials/_navbar.html active='residential' }}
        {{> partials/_jumbotron.html page-title='Residential Painting'}}

        <div class="container services-body">
            <div class="row services-row">
                <div class="col-md-5">
                    <img src="/img/blue-room.jpg" alt="Residential Painting job">
                </div>
                <div class="col-md-7">
                    <p>
                        A house becomes a home when you make it your own, adding your style to it! We enjoy meeting with every customer
                        to give them their estimate so that they can personally walk through their job with us pointing out all the important
                        details. We see their personality shine through and their excitement to make this space their own. We especially love
                        to see the transformation that takes place! It is our responsibility to ensure that a project be completed to it’s full
                        potential. We personally take it upon ourselves to take our time to accomplish the desired outcome of the customer by
                        using the best paint and paint supplies so that it can achieve the clean cut and professional look. We realize that
                        painting your home can be a big project which can be difficult to plan around so we paint homes of those who are currently
                        living there or have not yet moved in. And strive to do it in the most efficient way possible!
                    </p>
                </div>
            </div>
        </div>

        {{> partials/_footer.html }}

    </body>
</html>
