<!DOCTYPE html>
<html>
    <head>
        {{> partials/_header.html title="PainterDudes | Interior Painting" }}
    </head>
    <body>
        {{> partials/_navbar.html active='interior' }}
        {{> partials/_jumbotron.html page-title='Interior Painting'}}

        <div class="container services-body">
            <div class="row services-row">
                <div class="col-md-5">
                    <img src="/img/e1.jpg" alt="Interior Painting job">
                </div>
                <div class="col-md-7">
                    <p>
                        Painting the interior of a space enhances the experience and is more appealing to the viewer. Your home or business is your
                        own personal canvas, and you are the artist! Choosing what color paint and how the interior should be painted is completely
                        up to you. We take pride in our ability to take a customer’s vision and bring it to life. We take it as a personal priority to
                        walk through the project before we start painting to get a feel of what you are envisioning and explain in detail how we are
                        going to achieve it. We use the best supplies and paint so that it will give you a lasting, fresh look for years to come!
                    </p>
                </div>
            </div>
        </div>

        {{> partials/_footer.html }}

    </body>
</html>
