<!DOCTYPE html>
<html>
    <head>
        {{> partials/header.html title="Painter Bros | Specialty Finishes" }}
    </head>
    <body>
        {{> partials/navbar.html active='specialty' }}
        {{> partials/jumbotron.html page-title='Specialty Finishes'}}

        <div class="container services-body">
            <div class="row services-row">
                <div class="col-md-7">
                    <p>
                        There are many different ways you can change up a space in your home/business, whether it’s by changing the paint,
                        using a stain instead or a new design. We also offer a variety of specialty finishes such as glazing, faux finish,
                        venetian plaster and epoxy. Each of these paint specialties increase the quality and add a different feel to the space.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/img/wainscoting_closeup.jpg" alt="Specialty Finishes job">
                </div>
            </div>
        </div>

        {{> partials/footer.html }}

    </body>
</html>
