<!DOCTYPE html>
<html>
    <head>
        {{> partials/_header.html title="PainterDudes | Commercial Painting" }}
    </head>
    <body>
        {{> partials/_navbar.html active='commercial' }}
        {{> partials/_jumbotron.html page-title='Commercial Painting'}}

        <div class="container services-body">
            <div class="row services-row">
                <div class="col-md-7">
                    <p>
                        The success of your business will depend on the face of your company. If a customer feels comfortable in the space they are
                        invited into they will more likely feel inclined to spend their time and money there. As a business ourselves we understand
                        the importance to a customer that their business look professional and attractive. That’s why we offer our professional service!
                        We have worked with several companies over the years who have entrusted us to enhance their business space. We also offer to work
                        with you continually so that whenever your business is in need of a touch up we are there to fix it.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/img/e2.jpg" alt="Commercial Painting job">
                </div>
            </div>
        </div>

        {{> partials/_footer.html }}

    </body>
</html>
