<!DOCTYPE html>
<html>

    <head>
        {{> partials/_header.html title="Painter Bros | Services" }}
    </head>

    <body class="body">

        {{> partials/_navbar.html active='services' }}
        {{> partials/_jumbotron.html page-title='Services'}}

        <div class="container services-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="img/e1.jpg" class="img-circle center-block" alt="Beautifully painted room with a piano" />
                    <h3 class="text-center">Painting</h3>
                    <p>
                        Pick out any color and we will refresh your home or business. The hard work will be taken care of hassle free.
                        If you do not know the colors you want or are looking for some help, give us a call so we can help you find that <em>perfect look</em>.
                    </p>
                    <p>
                        Here are a few of our painting services:
                    </p>
                    <ul>
                        <li>Interior and exterior painting</li>
                        <li>Spray painting</li>
                        <li>Staining and lacquer</li>
                        <li>Faux finishing</li>
                        <li>Cabinet Refinishing</li>
                        <li>Small Business Painting</li>
                        <li>Commercial Painting</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <img src="img/e2.jpg" class="img-circle center-block" alt="Beautifully painted room with a piano" />
                    <h3 class="text-center">Repair and Touch Ups</h3>
                    <p>
                        Sometimes colors may Fade, or might even simply get scuffed up. If you don't want to completely reshape the room or paint everything
                         a different color, then we will definitely be able to provide repairs and touch ups suited to your needs and budget.
                     </p>
                     <p>
                         We will scale any and all of our services to fit your needs within the scope of your project. Point out what you want done and let
                          us make the magic happen!
                      </p>
                  </div>

                  <div class="col-md-4">
                      <img src="img/e3.jpg" class="img-circle center-block" alt="Exterior of a painted home" />
                      <h3 class="text-center">Residential or Commercial</h3>
                      <p>
                          Bringing your home to life and creating a professional work image are specialties of ours. We will do everything we can to
                          revitalize your home or workplace, and do so affordably without sacrificing any bit of quality and better yet... you won't
                          even have to lift a single brush.
                      </p>
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-12">
                      <p>
                          <em>
                              Do you have questions about the services we offer or the cost of a project?
                              <a href="contact.html">Contact us</a> and we will answer all your questions!
                          </em>
                      </p>
                  </div>
              </div>
          </div>
          {{> partials/_footer.html }}
      </body>
</html>
