<!DOCTYPE html>
<html>
    <head>
        {{> partials/header.html title="Painter Bros | Cabinet Painting" }}
    </head>
    <body>
        {{> partials/navbar.html active='cabinet' }}
        {{> partials/jumbotron.html page-title='Cabinet Painting'}}

        <div class="container services-body">
            <div class="row services-row">
                <div class="col-md-5">
                    <img src="/img/employee-cabinet.jpg" alt="Cabinet Painting job">
                </div>
                <div class="col-md-7">
                    <p>
                        Painting cabinets is often times deemed a project that is too difficult, it takes a lot of effort and time.
                        Many customers feel that it would be easier to scrap their old cabinets and but new ones. But for us there
                        is no job that is too hard, we paint so that you don’t have to! Cabinets offer many benefits, space to store
                        your things and also it fills the room. Because it is such a big part of the room it offers a beautiful focal
                        point. However, if it is a color that blends with the wall, or doesn’t compliment the rest of the room it loses
                        its ability to enhance the space. As professionals, we are able to suggest colors and stains that will make
                        your cabinets pop with color!
                    </p>
                </div>
            </div>
        </div>

        {{> partials/footer.html }}

    </body>
</html>
