<!DOCTYPE html>
<html>
    <head>
        {{> partials/_header.html title="PainterDudes | Exterior Painting" }}
    </head>
    <body>
        {{> partials/_navbar.html active='exterior' }}
        {{> partials/_jumbotron.html page-title='Exterior Painting'}}

        <div class="container services-body">
            <div class="row services-row">
                <div class="col-md-7">
                    <p>
                        The saying goes that if you look good, you feel good. No more cringing at the chipped paint or the weathered exterior,
                        your friendly professional painters are here to save the day from embarrassment and worry! The exterior is the first
                        impression a guest receives when they visit your home/business. It often conveys the expectation of what the rest of
                        your space will be like. Consider what your exterior alludes and how you would like to update that view! However, looking
                        fabulous takes a lot of time and dedication. It’s no secret that painting the exterior can be a time consuming and difficult
                        process. It is our promise to every customer that we will take all the time needed to finish your project to your liking
                        and approval. We use paint products that have the longest lasting finish so that you don’t have to worry the next time a
                        storm comes causing damage to your paint. We share a mutual goal to make your space look amazing!
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/img/aatw-exterior.jpg" alt="Exterior Painting job">
                </div>
            </div>
        </div>

        {{> partials/_footer.html }}

    </body>
</html>
