<div class="badges row">
    <div class="col-md-2">
        <div class="center-block" style="width: 160px;">
            <a href="http://www.homeadvisor.com/rated.PainterBros.44922682.html" style="display: block;"><img alt="Painter Bros is HomeAdvisor Screened & Approved" style="display:block;" src="http://www.homeadvisor.com/images/sp-badges/soap-border.png?sp=44922682&key=b5df2674e9511d6108a3a02f6796c80a" /></a>
            <div style="border: 1px solid #cccccc; border-top: none; border-radius: 0 0 9px 9px; background: #fff; padding: 4px 5px 8px; text-align: center;">
                <a href="http://www.homeadvisor.com/screening/" style="color: #5486a3; font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;">Screened Utah Pro</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="center-block" style="width: 160px;">
            <a href="http://www.homeadvisor.com/rated.PainterBros.44922682.html" style="display: block;"><img alt="Painter Bros is a Top Rated HomeAdvisor Pro" style="display:block;" src="http://www.homeadvisor.com/images/sp-badges/toprated-border.png?sp=44922682&key=b5df2674e9511d6108a3a02f6796c80a" /></a>
            <div style="border: 1px solid #cccccc; border-top: none; border-radius: 0 0 9px 9px; background: #fff; padding: 4px 5px 8px; text-align: center;">
                <a href="http://www.homeadvisor.com/r/top-rated/" style="color: #5486a3; font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;">Top Rated HomeAdvisor Pro</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="center-block" style="width: 160px;">
            <a href="http://www.homeadvisor.com/r/elite-service/" style="display: block;"><img alt="Painter Bros - Excellent Customer Service" style="display:block;" src="http://www.homeadvisor.com/images/sp-badges/elite-border.png?sp=44922682&key=b5df2674e9511d6108a3a02f6796c80a" /></a>
            <div style="border: 1px solid #cccccc; border-top: none; border-radius: 0 0 9px 9px; background: #fff; padding: 4px 5px 8px; text-align: center;">
                <a href="http://www.homeadvisor.com/rated.PainterBros.44922682.html" style="color: #5486a3; font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;">Painter Bros</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="center-block" style="width: 160px;">
            <a href="http://www.homeadvisor.com/r/elite-service/" style="display: block;"><img alt="HomeAdvisor Elite Customer Service - Painter Bros" style="display:block;" src="http://www.homeadvisor.com/images/sp-badges/elite-border.png?sp=44922682&key=b5df2674e9511d6108a3a02f6796c80a" /></a>
            <div style="border: 1px solid #cccccc; border-top: none; border-radius: 0 0 9px 9px; background: #fff; padding: 4px 5px 8px; text-align: center;">
                <a href="http://www.homeadvisor.com/rated.PainterBros.44922682.html" style="color: #5486a3; font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;">Elite service pro in Orem</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="center-block" style="width: 160px;">
            <a href="http://www.homeadvisor.com/bestofaward/" style="display: block;"><img alt="Best of HomeAdvisor Award Winner" style="display:block;" src="http://www.homeadvisor.com/images/sp-badges/boha-2016-border.png?sp=44922682&key=b5df2674e9511d6108a3a02f6796c80a" /></a>
            <div style="border: 1px solid #cccccc; border-top: none; border-radius: 0 0 9px 9px; background: #fff; padding: 4px 5px 8px; text-align: center;">
                <a href="http://www.homeadvisor.com/rated.PainterBros.44922682.html#ratings-reviews" style="color: #5486a3; font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;">See my verified reviews</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="center-block" style="width: 160px;">
            <a href="http://www.homeadvisor.com/rated.PainterBros.44922682.html" style="display: block;"><img alt="Painter Bros Ratings on HomeAdvisor" style="display:block;" src="http://www.homeadvisor.com/images/sp-badges/20reviews-border.png?sp=44922682&key=b5df2674e9511d6108a3a02f6796c80a" /></a>
            <div style="border: 1px solid #cccccc; border-top: none; border-radius: 0 0 9px 9px; background: #fff; padding: 4px 5px 8px; text-align: center;">
                <a href="http://www.homeadvisor.com/c.Painting.Salt_Lake_City.UT.-12054.html" style="color: #5486a3; font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;">Reviewed Salt Lake City Painting Contractors</a>
            </div>
        </div>
    </div>
</div>
