<form id="contact-form">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" placeholder="name here..." />
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" class="form-control" placeholder="email here..."/>
  </div>
  <div class="form-group">
    <label>How can we help you?</label>
    <textarea class="form-control" rows="3" placeholder="tell us..."></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
