<div class="row disclaimer">
    <div class="col-md-12">
        <h3>Franchise Offering Disclaimer</h3>
        <p>
            The information on this website is not intended as an offer to sell, or a solicitation of an offer to buy a Painter Bros™
            franchise and should be gathered for informational purposes only. Any offer of a Painter Bros™ franchise is made by means
            of our Franchise Disclosure Document only. Painter Bros™ franchises are available to qualified prospective franchisees only
            in certain states. At this time, we are not registered to make offers or sales in the following states: California, Florida,
            Hawaii, Illinois, Indiana, Kentucky, Maryland, Michigan, Minnesota, Nebraska, New York, North Dakota, South Dakota, Rhode Island,
            Texas, Utah, Virginia, Washington, and Wisconsin. Additionally, some states may require a licensed contractor to perform certain
            services, such as painting. Please check your local area for specific requirements.
        </p>
    </div>
</div>
