<div class="container-fluid locations">
  <div class="row"><h2 class="section-title">Locations</h2></div>
  <div class="row">
    <p class="locations-note text-center">
      *Note: The following cities don't represent the only cities we serve. If
      your city isn't listed here, feel free to give us a call!
    </p>
  </div>
  <div class="row">
    <div class="index-wrapper">
      <div class="location-box">
        <h3 class="location-title">Salt Lake County</h3>
        <p class="office-phone">{{prettyPhone}}</p>
        <h3>Serving These Cities:</h3>
        <div class="office-cities">
          <span>Salt Lake City</span>
          <span>Sandy</span>
          <span>West Jordan</span>
          <span>South Jordan</span>
          <span>Draper</span>
          <span>Riverton</span>
          <span>West Valley City</span>
          <span>Murray</span>
        </div>
      </div>
      <div class="location-box">
        <h3 class="location-title">Utah County</h3>
        <p class="office-phone">{{prettyPhone}}</p>
        <h3>Serving These Cities:</h3>
        <div class="office-cities">
          <span>Provo</span>
          <span>Orem</span>
          <span>Lehi</span>
          <span>American Fork</span>
          <span>Spanish Fork</span>
          <span>Pleasant Grove</span>
          <span>Springville</span>
          <span>Alpine</span>
        </div>
      </div>
      <div class="location-box">
        <h3 class="location-title">Park City, UT</h3>
        <p class="office-phone">{{prettyPhone}}</p>
        <h3>Serving These Cities:</h3>
        <div class="office-cities">
          <span>Park City</span>
          <span>Heber</span>
          <span>Midway</span>
        </div>
      </div>
      <div class="location-box">
        <h3 class="location-title">Las Vegas, NV</h3>
        <p class="office-phone">{{prettyPhone}}</p>
        <h3>Serving These Cities:</h3>
        <div class="office-cities">
          <span>Las Vegas</span>
          <span>Henderson</span>
          <span>Paradise</span>
        </div>
      </div>
      <div class="location-box">
        <h3 class="location-title">Portland, OR</h3>
        <p class="office-phone">Coming Soon!</p>
      </div>
    </div>
  </div>
</div>
