<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Looking for painters? Call now to get a <b>Free Quote</b>!</p>
        <a class="btn btn-success call-btn" href="tel:{{phone}}">Contact Us!</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    window.setTimeout(function() {
        $('.modal').modal();
    }, 3000);
</script>
