<header class="custom-nav">
    <div class="outter-flex-wrapper">
        <div class="pre-header">
            <a class="logo" href="/index.html">
              <img class="brand-image" alt="PainterDudes Logo" src="/img/pb-logo-medium.png">
            </a>
        </div>
        <nav>
            <div class="hamburger"><i class="fa fa-bars"></i></div>
            <div class="nav-phone"><a href="tel:{{phone}}"><i class="fa fa-phone"></i>&nbsp;&nbsp;{{prettyPhone}}</a></div>
            <ul>
                <li role="presentation" class="{{#ifEq active 'home'}}active{{/ifEq}}">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li role="presentation" class="{{#ifEq active 'about-us'}}active{{/ifEq}}">
                  <a class="nav-link" href="about-us.html">About Us</a>
                </li>
                <li role="presentation" class="{{#ifEq active 'services'}}active{{/ifEq}}">
                  <a class="nav-link" href="services.html">Services</a>
                  <div class="cust-dropdown">
                      <ul>
                          <li class="{{#ifEq active 'interior'}}active{{/ifEq}}"><a href="services.interior.html">Interior</a></li>
                          <li class="{{#ifEq active 'exterior'}}active{{/ifEq}}"><a href="services.exterior.html">Exterior</a></li>
                          <li class="{{#ifEq active 'residential'}}active{{/ifEq}}"><a href="services.residential.html">Residential</a></li>
                          <li class="{{#ifEq active 'commercial'}}active{{/ifEq}}"><a href="services.commercial.html">Commercial</a></li>
                          <li class="{{#ifEq active 'cabinet'}}active{{/ifEq}}"><a href="services.cabinet.html">Cabinet</a></li>
                          <li class="{{#ifEq active 'specialty'}}active{{/ifEq}}"><a href="services.specialty.html">Specialty Finishes</a></li>
                      </ul>
                  </div>
                </li>
                <li role="presentation" class="{{#ifEq active 'gallery'}}active{{/ifEq}}">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li role="presentation" class="{{#ifEq active 'locations'}}active{{/ifEq}}">
                  <a class="nav-link" href="locations.html">Locations</a>
                </li>
                <li role="presentation">
                  <a class="nav-link" href="https://painterbros.wordpress.com"> Blog </a>
                </li>
                <li role="presentation" class="{{#ifEq active 'contact'}}active{{/ifEq}}">
                  <a class="nav-link" href="contact.html"> Contact </a>
                </li>
                <li role="presentation" class="{{#ifEq active 'franchising'}}active{{/ifEq}}">
                  <a class="nav-link" href="franchising.html"> Franchising </a>
                  <div class="cust-dropdown">
                      <ul>
                          <li class="{{#ifEq active 'why'}}active{{/ifEq}}"><a href="franchising.why.html">Why PainterDudes</a></li>
                          <li class="{{#ifEq active 'howtoapply'}}active{{/ifEq}}"><a href="franchising.howto.html">How to Apply</a></li>
                          <li class="{{#ifEq active 'investment'}}active{{/ifEq}}"><a href="franchising.investment.html">Investment</a></li>
                      </ul>
                  </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="mobile-menu" data-toggle="0">
        <ul>
            <li role="presentation" class="{{#ifEq active 'home'}}active{{/ifEq}}">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li role="presentation" class="{{#ifEq active 'about-us'}}active{{/ifEq}}">
              <a class="nav-link" href="about-us.html">About Us</a>
            </li>
            <li role="presentation" class="{{#ifEq active 'services'}}active{{/ifEq}}">
              <a class="nav-link" href="services.html">Services</a>
              <div class="cust-dropdown">
                  <ul>
                      <li class="{{#ifEq active 'interior'}}active{{/ifEq}}"><a href="services.interior.html">Interior</a></li>
                      <li class="{{#ifEq active 'exterior'}}active{{/ifEq}}"><a href="services.exterior.html">Exterior</a></li>
                      <li class="{{#ifEq active 'residential'}}active{{/ifEq}}"><a href="services.residential.html">Residential</a></li>
                      <li class="{{#ifEq active 'commercial'}}active{{/ifEq}}"><a href="services.commercial.html">Commercial</a></li>
                      <li class="{{#ifEq active 'cabinet'}}active{{/ifEq}}"><a href="services.cabinet.html">Cabinet</a></li>
                      <li class="{{#ifEq active 'specialty'}}active{{/ifEq}}"><a href="services.specialty.html">Specialty Finishes</a></li>
                  </ul>
              </div>
            </li>
            <li role="presentation" class="{{#ifEq active 'gallery'}}active{{/ifEq}}">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li role="presentation" class="{{#ifEq active 'locations'}}active{{/ifEq}}">
              <a class="nav-link" href="locations.html">Locations</a>
            </li>
            <li role="presentation">
              <a class="nav-link" href="https://painterbros.wordpress.com"> Blog </a>
            </li>
            <li role="presentation" class="{{#ifEq active 'contact'}}active{{/ifEq}}">
              <a class="nav-link" href="contact.html"> Contact </a>
            </li>
            <li role="presentation" class="{{#ifEq active 'contact'}}active{{/ifEq}}">
              <a class="nav-link" href="franchising.html"> Franchising </a>
              <div class="cust-dropdown">
                  <ul>
                      <li class="{{#ifEq active 'why'}}active{{/ifEq}}"><a href="franchising.why.html">Why PainterDudes</a></li>
                      <li class="{{#ifEq active 'howtoapply'}}active{{/ifEq}}"><a href="franchising.howto.html">How to Apply</a></li>
                      <li class="{{#ifEq active 'investment'}}active{{/ifEq}}"><a href="franchising.investment.html">Investment</a></li>
                  </ul>
              </div>
            </li>
        </ul>
    </div>
</header>
<div class="header-spacer"></div>
