<a class="social-icons facebook" target="_blank" href="https://www.facebook.com/thepainterbros1/" title="Facebook Link">
    <i class="fa fa-facebook-square"></i>
</a>
<a class="social-icons instagram" target="_blank" href="https://www.instagram.com/thepainterbros/" title="Instagram Link">
    <i class="fa fa-instagram"></i>
</a>
<a class="social-icons gplus" target="_blank" href="https://plus.google.com/111798572019874906583" title="Google+ Link">
    <i class="fa fa-google-plus-square"></i>
</a>
<a class="social-icons pinterest" target="_blank" href="https://www.pinterest.com/painterbros/" title="Pinterest Link">
    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
</a>
<a class="social-icons twitter" target="_blank" href="https://twitter.com/painterbros1" title="Twitter Link">
    <i class="fa fa-twitter-square" aria-hidden="true"></i>
</a>
