<a class="social-icons facebook" target="_blank" href="#" title="Facebook Link">
  <i class="fa fa-facebook-square"></i>
</a>
<a class="social-icons instagram" target="_blank" href="#" title="Instagram Link">
  <i class="fa fa-instagram"></i>
</a>
<a class="social-icons pinterest" target="_blank" href="#" title="Pinterest Link">
  <i class="fa fa-pinterest-square" aria-hidden="true"></i>
</a>
<a class="social-icons twitter" target="_blank" href="#" title="Twitter Link">
  <i class="fa fa-twitter-square" aria-hidden="true"></i>
</a>
